// Custom variables

$font-family-monospace: "Poppins", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

$accordion-button-active-bg: white;
$accordion-button-active-color: black;
$accordion-button-focus-box-shadow: black;
$accordion-border-width: 0px;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-dark--1: #42484d;
  --color-dark--3: #2e2e2e;

  --color-light--1: #ffffff;
  --color-light--2: rgb(214, 222, 224);
}

.electricity-title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.electricity-title:hover {
  opacity: 50%;
}
.nav-link {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.nav-link:hover {
  opacity: 50%;
}

.masthead {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .imgTextContainer {
    height: 60%;
    width: 100%;
    position: relative;

    .headline {
      z-index: 3;
      position: absolute;
      top: 30%;
      bottom: 60%;
      left: 25%;
      right: 25%;
      color: white;
      text-shadow: 10px 10px 10px rgb(0, 0, 0);
      font-family: "Poppins", sans-serif;
      font-weight: 400;
    }

    .headline__img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.imgTextContainer::after {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row > input:focus {
  background-color: var(--color-light--1);
}

.form__label {
  flex: 0 0 50%;
  font-weight: 600;
}

.form__row > .form__input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--2);
  transition: all 0.2s;
}

.power__control:focus {
  min-width: 80px;
}

.form__btn {
  display: none;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.device__info {
  animation: slide-up 0.4s ease;
  transition-property: opacity, transform;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.total__usage.box.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: 50% !important;
}
