// Custom variables

$font-family-monospace: "Poppins", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap");

.electricity-title:hover {
  opacity: 50%;
}

.nav-link:hover {
  opacity: 50%;
}

.full-screen {
  width: 100vw;
  max-height: 70vh;
  min-height: 60vh;
}

.header-title {
  font-family: "Lato", sans-serif;
  padding-top: 100px;
}

.form {
  grid-template-columns: repeat(2, 1fr);
}
